/* body color */
$bg-color: #EFEFEF;

/* template color */
$template-bg-color: white;
$template-name-color: #AAA;

/* todo detail modal color */
$arrow-box-color: #c2e1f5;

/* todo caption color */
$progress-caption-color: #A875FF;
$hold-caption-color: #F9D900;
$done-caption-color: #2ECD6F;

/* modal add btn color */
$modal-add-color: #F2AB39;