/*------------------------------------*\
  #COLOR-SECTION FOR IMPORT
\*------------------------------------*/


// FORM
$main-color:#22b8cf;

// TODO
$detail-color: #666;
$toggle-color: #4CAF50;
$modify-color: #555555;
$remove-color: #f44336;
$checked-color: gray;

// TODOTEMPLATE
$body-color: #EEE;
