@import "../colors/index.scss";

.template {
  background: $template-bg-color;
  text-align: center;
  width: 640px;
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid red;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  &__name {
    text-align: left;
    font-size: 32px;
    color: $template-name-color;
    padding: 20px;
  }
}